@page "/Laakkeet"
@using LaakeApp100722.Models
@using LaakeApp100722.Components
@inject AuthenticationStateProvider authProvider
@inject ILaakeData laakeData
@inject IUserData userData
@inject ILaakeMuotoData laakemuotoData
@inject IYoMukaanData yomaarittelyData
@inject IAnnosteluValiData annosteluData
@inject NavigationManager navManager

<h1 class="page-heading text-uppercase mb-4">Lääkkeesi</h1>
<div class="suggestion-container">
    <button @onclick="LoadCreatePage" class="suggest-btn btn btn-outline-light btn-lg text-uppercase">Lisää lääke</button></div>

<div class="row">
    <div class="suggestions-count col-md-4 text-light mt-2">@laake?.Count lääkettä</div>
    <div class="col-md-4 col-xl-5 btn-group">
        <button class="btn btn-order @SortedByNewClass(true)" @onclick="(()=>OrderByNew(true))">New</button>
        <button class="btn btn-order @SortedByNewClass(false)" @onclick="(()=> OrderByNew(false))">Popular</button>
    </div>
    <div class="col-md-4 col-xl-3 search-box">
      @*  joka kerta kun kirjoittaa niin se kutsuu onsearchinput metodia txt parametrina*@
        <input type="text" placeholder="Search"
            aria-label="Search box" class="form-control rounded-control"
            @oninput="((txt)=>OnSearchInput((string)txt.Value))"/>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-xl-9">
        @if (laake is not null)
        { @*paging, infinateli scrollable list +10*@
            <Virtualize Items="@laake" Context="s" OverscanCount="10">
                <div class="suggestion-entry">
                    <div class="@laakeotettunaclass(s)" @onclick="(()=>OtaLaake(s))">
                       @* <div class="text-uppercase"></div>
                        <span class="oi oi-caret-top"></span>
                        <div class="text-uppercase"></div>*@
                        <div  class="text-uppercase" >@laakeotettuna(s)</div>
                    </div>
                    <div class="suggestion-entry-text">
                        <div class="suggestion-entry-text-title" @onclick="(()=>OpenDetails(s))">
                            @s.Nimi
                        </div>
                        <div>Annostelumäärä: @s.AnnosteluMaara</div>
                        <div>Seuraavat lääkkeenottoajat: @LaskeLaakeVali1(s.AnnosteluVali1)</div>
                        <div>
                            <div class="suggestion-entry-text-category" @onclick="(()=> OpenDetails(s))">
                                @s.LaakeMuoto?.LaakeMuotoNimi
                            </div>
                        </div>
                    </div>
                    <div class="suggestion-entry-status @YomukaanClass(s.YoMukaan)">
                    <div class="suggestion-entry-status-text">
                        @Yomukaan(s.YoMukaan)
                    </div>
                    </div>
                    
                </div>
            </Virtualize>
        }
    </div>
    <div class="col-md-4 col-xl-3">
        @if(laakemuodot is not null)
        {
            <div class="categories">
                <span class="text-uppercase fw-bold">Lääkemuodot</span>
                <div class="@GetSelectedCategory()" @onclick="(()=>OnCategoryClick())">Kaikki</div>
                @foreach(var c in laakemuodot)
                {
                    <div class="@GetSelectedCategory(c.LaakeMuotoNimi)" @onclick="(()=>OnCategoryClick(c.LaakeMuotoNimi))">@c.LaakeMuotoNimi</div>                       
                }
            </div>
        }
        
    </div>
</div>



@code {
    private UserModel loggedInUser;
    private List<LaakeMuotoModel> laakemuodot;
    private List<LaakeModel> laake;

    private LaakeModel laake1;
    private AnnosteluValiModel annosteluvalicreate = new();

    bool isSortedByNew = true;
    private string searchText = "";
    private string selectedLaakemuoto = "Kaikki";

    private YoMaarittelyModel yo;
    private double paiva;
    private TimeSpan result;
    private double jaettuna;
    private DateTime seuraavaAika;
    private string seuraavaaika;
    private string value1 = "";
    
    private string otettunalaake;

    protected async override Task OnInitializedAsync()
    {  

        laakemuodot = await laakemuotoData.GetAllLaakemuodot();
        loggedInUser = await authProvider.GetUserFromAuth(userData);

        yo = await yomaarittelyData.GetYoMukaanYksi(loggedInUser.Id);
        laake=await laakeData.GetUsersLaakkeet(loggedInUser.Id);
    }
    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }

    private void LoadCreatePage()
    {
        if (loggedInUser is not null)
        {
            navManager.NavigateTo("/LisaaLaake");

        }
        else
        {
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
        }
    }

    private async Task FilterSuggestions()
    {
        var output = await laakeData.GetUsersLaakkeet(loggedInUser.Id);

        //jos ei ole all valittuna. ei ole ideaali, mutta tässäkin controled invorement 
        if (selectedLaakemuoto != "Kaikki")
        {
            //etsi categorian jos on kategorianimi joka vastaa valittua kategoriaa
            output = output.Where(s => s.LaakeMuoto?.LaakeMuotoNimi == selectedLaakemuoto).ToList();
        }

        if (string.IsNullOrWhiteSpace(searchText)==false)
        {
            //onko suggestion tai description sisältää tämän tekstin eikä välitetä onko isot vai pienet kirjaimet
            output = output.Where(s => s.Nimi.Contains(searchText, StringComparison.InvariantCultureIgnoreCase)).ToList();
        }
        if (isSortedByNew)
        {
            output = output.OrderByDescending(s => s.Lisatty).ToList();
        }
        else
        {
            //jos on suggestion jossa on yhtä paljon ääniä niin järjestetään ne lisäksi by datecreated
            output = output.OrderByDescending(s => s.AnnosteluMaara).ThenByDescending(s => s.Lisatty).ToList();

        }

        laake = output;



    }
    private void OpenDetails(LaakeModel laake)
    {
        navManager.NavigateTo($"/Lisatiedot/{laake.Id}");
    }

    private async Task OrderByNew(bool isNew)
    {
        isSortedByNew = isNew;
        await FilterSuggestions();
    }

    private async Task OnSearchInput(string searchInput)
    {
        searchText = searchInput;
        await FilterSuggestions();
    }

    private async Task OnCategoryClick(string category = "Kaikki")
    {
        selectedLaakemuoto = category;
        await FilterSuggestions();
    }

    private string GetSelectedCategory(string category = "Kaikki")
    {
        if (category == selectedLaakemuoto)
        {
            return "selected-category";
        }
        else
        {
            return "";
        }
    }
    //styling, palauttaa class css tiedon
    private string SortedByNewClass(bool isNew)
    {
        if (isNew == isSortedByNew)
        {
            return "sort-selected";
        }
        else
        {
            return "";
        }
    }

    private string Yomukaan(bool yomukaan)
    {
        if (yomukaan)
        {
            return "Yö lasketaan";
        }
        else
        {
            return "Yötä ei lasketa";
        }
    }
    private string YomukaanClass(bool yomukaan)
    {
        if (yomukaan)
        {

            return "suggestion-entry-status-watching";
        }
        else
        {
            return "suggestion-entry-status-dismissed";
        }
    }

    private string LaskeLaakeVali1(int vali)
    {try
        {value1 = "";
            if (yo is not null)
            {
                TimeSpan result = yo.YoLoppu.Subtract(yo.YoAlku);
                double paiva = 24 - (double)result.Hours;
                //double paiva = 24;

                int annosteluvaliint = vali;
                if (annosteluvaliint > 2)
                {
                    annosteluvaliint = annosteluvaliint - 1;
                }

                double jaettuna = paiva / (annosteluvaliint);

                //seuraavaAika = yo.YoLoppu.AddHours(jaettuna);
                //DateTime seuraavaAika = yo.YoLoppu;
                DateTime seuraavaAika = DateTime.UtcNow;
                for (var i = 0; i < vali; i++)
                {
                    if (yo.YoLoppu.TimeOfDay <= seuraavaAika.TimeOfDay && yo.YoAlku.TimeOfDay >= seuraavaAika.TimeOfDay)
                    { if (i == 0)
                        {
                            value1 = value1 + seuraavaAika.ToString("HH:mm");
                        }
                        else
                        {
                            value1 = value1 + ", " + seuraavaAika.ToString("HH:mm");
                        }
                        seuraavaAika = seuraavaAika.AddHours(jaettuna);

                    }
                }
                return value1;
            }
            else
            {
                paiva = 24;
                double jaettuna = paiva / vali;
                DateTime seuraavaAika = DateTime.UtcNow;

                for (var i = 0; i < vali; i++)
                {
                    if (i == 0)
                    {
                        value1= value1+ seuraavaAika.ToString("HH:mm");
                    }else{
                        value1= value1+ ", "+ seuraavaAika.ToString("HH:mm");}
                    seuraavaAika = seuraavaAika.AddHours(jaettuna);

                }
                return value1;
            }
        }
        catch
        {
            return "nolla";
        }

    }

    private async Task OtaLaake(LaakeModel laakeotettu)
    {
        if(loggedInUser is not null)
        {

            AnnosteluValiModel s = new();
            s.Otettu = DateTime.Now;
            s.Author = new BasicUserModel(loggedInUser);
            s.Laake = laake.Where(c => c.Id == laakeotettu.Id).FirstOrDefault();

            //päivitetään ääni tietokantaan
            await annosteluData.CreateAnnosteluVali(s);
            otettunalaake = laakeotettu.Id;
            //this.laakeotettuclass = "suggestion-entry-voted";
        }
        else
        {//jos ei ole kirjautunut ja klikkaaa äänestä niin vie kirjautumissivulle. True koska on ulkopuolinen sivu
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
        }
    }

    private string laakeotettuna(LaakeModel laakeotettuna)
    {
        if (otettunalaake == laakeotettuna.Id)
        {
            return "Lääke otettu";
        }
       
        return "Kirjaa aika";
    }

    private string laakeotettunaclass(LaakeModel laakeotettuna)
    {
        if (otettunalaake == laakeotettuna.Id)
        {
            return "suggestion-entry-voted";
        }
       
        return "suggestion-entry-no-votes";
    }

}
